*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-primary: hsl(225, 100%, 94%);
  --clr-accent: hsl(245, 75%, 52%);
  --clr-neutral-light: hsl(225, 100%, 98%);
  --clr-neutral-normal: hsl(224, 23%, 55%);
  --clr-neutral-dark: hsl(223, 47%, 23%);

  --fw-light: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --bor-rad-1: 10px;
  --bor-rad-2: 20px;
}

body {
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--clr-primary);
  padding: 4em 1em;
  min-height: 100vh;
}

h1,
strong {
  color: var(--clr-neutral-dark);
}

p {
  color: var(--clr-neutral-normal);
  line-height: 1.6;
  font-weight: var(--fw-light);
  max-width: 25ch;
}

main {
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: var(--bor-rad-2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 20px 20px hsla(245, 75%, 52%, 0.089);
}

.hero img {
  width: 100%;
  border-top-left-radius: var(--bor-rad-2);
  border-top-right-radius: var(--bor-rad-2);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.top p {
  margin-top: 0;
}

.middle {
  background-color: var(--clr-neutral-light);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1.5rem;
  padding: 1em 0;
  border-radius: var(--bor-rad-1);
}

.middle .wrapper p {
  margin: 0;
}

.link-underline {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.link-underline:hover,
.link-underline:focus {
  text-decoration: none;
  opacity: 0.7;
}

.btn {
  display: block;
  text-decoration: none;
  padding: 1em;
  background-color: var(--clr-accent);
  color: var(--clr-neutral-light);
  border-radius: var(--bor-rad-1);
  margin: 0 1.5rem;
  box-shadow: 0 20px 20px hsla(245, 75%, 52%, 0.233);
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}

.link {
  display: block;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-normal);
  text-decoration: none;
  margin: 2rem 0;
}

.link:hover,
.link:focus {
  color: var(--clr-neutral-dark);
}

footer {
  margin-top: 4rem;
}

@media (min-width: 800px) {
  body {
    background: url('../images/pattern-background-desktop.svg');
    background-repeat: repeat-x;
    background-color: var(--clr-primary);
  }
}
